# Лабораторна робота №3. Варіант 15
# Виконав: ІП-13 Ал Хадам Мурат Резгович
# Структури даних Pandas

## Мета: Ознайомитись з основними структурами даних бібліотеки Pandas: Series DataFrame, операціями над ними. Навчитись використовувати групування.
### Завдання:
1. Вивести інформацію про набір даних, основні статистичні характеристики, типи ознак. Які ознаки є категоріальними, а які – кількісними?
2. За допомогою зрізів зробити копію частини набору даних і зберегти до нового об’єкту DataFrame. Призначити йому власні індекси рядків та стовпців. Додати новий рядок.
3. Використовуючи початковий DataFrame:
а) Знайти кількість товарів у кожному блоці;
б) Вивести товари з середнім пріоритетом, які планується відправити літаком та які були замовлені чоловіками. Знайти загальну вартість цих товарів.
в) Додати новий стовпець, який показує, чи знижка на товар більше, ніж по 10 доларів на кожну попередню покупку (наприклад, знижка=20, попередніх покупок – 3, не перевищує).
г) Додати новий стовпець, який містить середній рейтинг покупців для товарів у даному блоці.

# 1

In [30]:
import pandas as pd


df = pd.read_csv('CommerceShipping.csv')
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,D,Ship,4,5,143,3,low,F,48,1922,1
1453,1454,F,Ship,6,3,223,6,medium,M,29,2980,1
1454,1455,A,Ship,3,5,230,2,low,M,27,3840,1
1455,1456,B,Ship,4,5,241,4,medium,M,58,2874,1
1456,1457,C,Ship,3,5,156,3,medium,M,44,1424,1

Основні статистичні характеристики

In [31]:
df.describe()

,ID,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
count,1457.000000,1457.000000,1457.000000,1457.000000,1457.000000,1457.000000,1457.000000,1457.0
mean,729.000000,3.732327,2.986960,194.671929,3.277282,32.793411,2345.960879,1.0
std,420.743984,1.018917,1.404162,45.940277,1.424370,18.896276,945.996401,0.0
min,1.000000,2.000000,1.000000,96.000000,2.000000,1.000000,1004.000000,1.0
25%,365.000000,3.000000,2.000000,157.000000,2.000000,16.000000,1549.000000,1.0
50%,729.000000,4.000000,3.000000,190.000000,3.000000,33.000000,2200.000000,1.0
75%,1093.000000,4.000000,4.000000,234.000000,4.000000,49.000000,3067.000000,1.0
max,1457.000000,7.000000,5.000000,294.000000,10.000000,65.000000,7846.000000,1.0

Типи ознак

In [32]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1457 entries, 0 to 1456
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   ID                   1457 non-null   int64
 1   Warehouse_block      1457 non-null   object
 2   Mode_of_Shipment     1457 non-null   object
 3   Customer_care_calls  1457 non-null   int64
 4   Customer_rating      1457 non-null   int64
 5   Cost_of_the_Product  1457 non-null   int64
 6   Prior_purchases      1457 non-null   int64
 7   Product_importance   1457 non-null   object
 8   Gender               1457 non-null   object
 9   Discount_offered     1457 non-null   int64
 10  Weight_in_gms        1457 non-null   int64
 11  Reached.on.Time_Y.N  1457 non-null   int64
dtypes: int64(8), object(4)
memory usage: 136.7+ KB

Які ознаки є категоріальними, а які – кількісними?

In [33]:
for col in df.columns:
    if df[col].dtype == 'object':
        print(f'{col} is categorical')
    else:
        print(f'{col} is not categorical')

ID is not categorical
Warehouse_block is categorical
Mode_of_Shipment is categorical
Customer_care_calls is not categorical
Customer_rating is not categorical
Cost_of_the_Product is not categorical
Prior_purchases is not categorical
Product_importance is categorical
Gender is categorical
Discount_offered is not categorical
Weight_in_gms is not categorical
Reached.on.Time_Y.N is not categorical

# 2
За допомогою зрізів зробити копію частини набору даних і зберегти до нового об’єкту DataFrame. Призначити йому власні індекси рядків та стовпців. Додати новий рядок.

In [34]:
df_copy = df.iloc[1:6, 1:5]
df_copy.reset_index(drop=True)
df_copy

  Warehouse_block Mode_of_Shipment  Customer_care_calls  Customer_rating
1               F           Flight                    4                5
2               A           Flight                    2                2
3               B           Flight                    3                3
4               C           Flight                    2                2
5               F           Flight                    3                1

In [35]:
df_copy.index = ['11', '12', '13', '14', '15']
df_copy.columns = ['Warehouse', 'Mode', 'Calls', 'Rating']
df_copy

   Warehouse    Mode  Calls  Rating
11         F  Flight      4       5
12         A  Flight      2       2
13         B  Flight      3       3
14         C  Flight      2       2
15         F  Flight      3       1

In [36]:
new_row = {
    'Warehouse' : 'AA',
    'Mode' : 'Test Flight',
    'Calls' : 100,
    'Rating' : 101
}
df_copy.loc['new_row'] = new_row
df_copy

        Warehouse         Mode  Calls  Rating
11              F       Flight      4       5
12              A       Flight      2       2
13              B       Flight      3       3
14              C       Flight      2       2
15              F       Flight      3       1
new_row        AA  Test Flight    100     101

# 3
Використовуючи початковий DataFrame:
а) Знайти кількість товарів у кожному блоці;

In [37]:
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
0,1,D,Flight,4,2,177,3,low,F,44,1233,1
1,2,F,Flight,4,5,216,2,low,M,59,3088,1
2,3,A,Flight,2,2,183,4,low,M,48,3374,1
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1
...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,D,Ship,4,5,143,3,low,F,48,1922,1
1453,1454,F,Ship,6,3,223,6,medium,M,29,2980,1
1454,1455,A,Ship,3,5,230,2,low,M,27,3840,1
1455,1456,B,Ship,4,5,241,4,medium,M,58,2874,1
1456,1457,C,Ship,3,5,156,3,medium,M,44,1424,1

In [38]:
total_purchases = df.groupby('Warehouse_block')['Prior_purchases'].sum()
total_purchases

Warehouse_block
A     820
B     795
C     787
D     806
F    1567
Name: Prior_purchases, dtype: int64

б) Вивести товари з середнім пріоритетом, які планується відправити літаком та які були замовлені чоловіками. Знайти загальну вартість цих товарів.

In [39]:
purchases_by_flight = df[
    (df['Mode_of_Shipment'] == 'Flight') & (df['Gender'] == 'M') & (df['Product_importance'] == 'medium')]
purchases_by_flight

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1
10,11,C,Flight,3,4,189,2,medium,M,12,2888,1
137,138,F,Flight,3,5,162,2,medium,M,7,1739,1
151,152,F,Flight,5,3,98,5,medium,M,44,1269,1
269,270,F,Flight,4,5,208,3,medium,M,23,2056,1
274,275,C,Flight,3,5,229,6,medium,M,22,2717,1
280,281,C,Flight,3,1,205,3,medium,M,39,3062,1
281,282,F,Flight,5,4,147,3,medium,M,23,1132,1
285,286,B,Flight,2,4,181,4,medium,M,13,2309,1
407,408,F,Flight,4,5,193,3,medium,M,65,2267,1
408,409,D,Flight,3,2,192,3,medium,M,43,3339,1
409,410,F,Flight,2,5,166,3,medium,M,3,1832,1
410,411,A,Flight,3,2,264,3,medium,M,5,3861,1
411,412,B,Flight,3,4,200,2,medium,M,14,3528,1
412,413,C,Flight,4,3,142,4,medium,M,12,1396,1
421,422,F,Flight,4,2,251,2,medium,M,24,2405,1
423,424,B,Flight,4,4,229,2,medium,M,45,3776,1
426,427,D,Flight,3,4,167,3,medium,M,52,1755,1
548,549,A,Flight,2,4,182,3,medium,M,47,3792,1
551,552,F,Flight,3,5,233,3,medium,M,52,3519,1
557,558,F,Flight,2,3,198,2,medium,M,28,3514,1
558,559,D,Flight,4,2,164,3,medium,M,15,1489,1
559,560,F,Flight,5,2,271,3,medium,M,32,3785,1
562,563,C,Flight,3,2,137,2,medium,M,17,1673,1
682,683,C,Flight,4,4,143,2,medium,M,58,1038,1
693,694,B,Flight,3,3,207,7,medium,M,19,2182,1
698,699,A,Flight,4,3,264,3,medium,M,23,2376,1
701,702,F,Flight,4,2,197,7,medium,M,43,3730,1
826,827,C,Flight,5,2,232,2,medium,M,24,2174,1
828,829,D,Flight,4,2,230,3,medium,M,33,3602,1
833,834,F,Flight,3,4,145,6,medium,M,57,1949,1
835,836,F,Flight,3,5,218,4,medium,M,60,3048,1
962,963,A,Flight,3,2,180,4,medium,M,52,1329,1
973,974,F,Flight,5,4,229,3,medium,M,29,2505,1
975,976,B,Flight,5,5,249,3,medium,M,55,3558,1
1091,1092,F,Flight,3,5,154,3,medium,M,46,1312,1
1094,1095,A,Flight,3,1,185,3,medium,M,3,3051,1
1100,1101,A,Flight,5,2,260,2,medium,M,23,3962,1
1102,1103,C,Flight,4,1,227,3,medium,M,54,3043,1
1110,1111,D,Flight,5,1,196,3,medium,M,24,2957,1
1239,1240,B,Flight,4,5,157,3,medium,M,28,1557,1
1242,1243,D,Flight,4,1,250,2,medium,M,45,3021,1
1245,1246,B,Flight,4,3,258,3,medium,M,58,2579,1
1367,1368,F,Flight,5,3,165,2,medium,M,51,1429,1
1371,1372,B,Flight,5,4,268,3,medium,M,6,2206,1
1376,1377,A,Flight,5,1,274,3,medium,M,58,2098,1

In [40]:
print('Total cost is', purchases_by_flight['Cost_of_the_Product'].sum())

Total cost is 9272

в) Додати новий стовпець, який показує, чи знижка на товар більше, ніж по 10 доларів на кожну попередню покупку (наприклад, знижка=20, попередніх покупок – 3, не перевищує).

In [41]:
df['is_discount_more_10'] = df.apply(lambda row:
                                     True if row['Discount_offered'] / row['Prior_purchases'] > 10
                                     else False, axis=1)
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,is_discount_more_10
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,True
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,True
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,True
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,False
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,D,Ship,4,5,143,3,low,F,48,1922,1,True
1453,1454,F,Ship,6,3,223,6,medium,M,29,2980,1,False
1454,1455,A,Ship,3,5,230,2,low,M,27,3840,1,True
1455,1456,B,Ship,4,5,241,4,medium,M,58,2874,1,True
1456,1457,C,Ship,3,5,156,3,medium,M,44,1424,1,True

г) Додати новий стовпець, який містить середній рейтинг покупців для товарів у даному блоці.

In [42]:
average_rate_by_block = df.groupby('Warehouse_block')['Customer_rating'].mean()
average_rate_by_block

Warehouse_block
A    2.938272
B    2.971193
C    3.028807
D    3.061728
F    2.960825
Name: Customer_rating, dtype: float64

In [43]:
df['Average_rate_by_block'] = df['Warehouse_block'].map(average_rate_by_block)
df

,ID,Warehouse_block,Mode_of_Shipment,Customer_care_calls,Customer_rating,Cost_of_the_Product,Prior_purchases,Product_importance,Gender,Discount_offered,Weight_in_gms,Reached.on.Time_Y.N,is_discount_more_10,Average_rate_by_block
0,1,D,Flight,4,2,177,3,low,F,44,1233,1,True,3.061728
1,2,F,Flight,4,5,216,2,low,M,59,3088,1,True,2.960825
2,3,A,Flight,2,2,183,4,low,M,48,3374,1,True,2.938272
3,4,B,Flight,3,3,176,4,medium,M,10,1177,1,False,2.971193
4,5,C,Flight,2,2,184,3,medium,F,46,2484,1,True,3.028807
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1452,1453,D,Ship,4,5,143,3,low,F,48,1922,1,True,3.061728
1453,1454,F,Ship,6,3,223,6,medium,M,29,2980,1,False,2.960825
1454,1455,A,Ship,3,5,230,2,low,M,27,3840,1,True,2.938272
1455,1456,B,Ship,4,5,241,4,medium,M,58,2874,1,True,2.971193
1456,1457,C,Ship,3,5,156,3,medium,M,44,1424,1,True,3.028807